
/* Overall page styles */
.page-container {
  max-width: 100%;
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  overflow-y: auto; /* Enable vertical scrolling when content exceeds the height */
  max-height: 100vh; /* Limit the maximum height to the viewport height */
}
  
  /* Image styles */
  .contact-image {
    display: block;
    max-width: 100%;
  }
  
  /* Get in Touch details styles */
  .get-in-touch {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    width: 100vw;
    justify-content: center;
    align-items: stretch;

  }
  
  .get-in-touch h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .get-in-touch p {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .address-form{
    flex: 1 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #148085;
    color: white;
    padding-top: 100px;
  }
  
  .contact-form h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form{
    display: flex;
  }





  .contact-form {
    background-color: #2f8e81;
    padding: 20px;
    max-width: 100%; /* Adjust the width as needed */
    flex: 1 100%;
    color: white;
  }
  
  /* Style each form row */
  .contact-form .form-name,
  .contact-form .form-mail,
  .contact-form .form-phone,
  .contact-form .form-address,
  .contact-form .form-subject,
  .contact-form .form-msg {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }
  
  /* Style labels */
  .contact-form label {
    flex: 1;
    margin-right: 10px;
  }
  
  /* Style inputs and textarea */
  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form input[type="tel"],
  .contact-form textarea {
    flex: 2;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Style the submit button */
  .contact-form .form-submit-btn button {
    background-color: white; /* Blue color for the button */
    color: #2f8e81;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
  }
  
  /* Add some hover effect to the button */
  .contact-form .form-submit-btn button:hover {
    background-color: #0056b3; /* Darker blue color on hover */
  }